{#Usage:#}
{#    {% include "framework/dashboard/widget-title.html" with title="Foobar" %}#}

<div class="d-flex align-items-center">
    <h4 class="ms-auto me-auto mb-3">
        {{ title }}
    </h4>
</div>
